<template>
  <div class="container">
    <!-- <header class="jumbotron">
      <h3>{{ content }}</h3>
    </header> -->
    <ul>
      <li v-for="user in content" :key="user.id">
        <p>{{ user.id }}</p>
        <p>{{ user.userName }}</p>
        <p>{{ user.email }}</p>
        <p>{{ user }}</p>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import UserService from "@/services/UserService";

@Component
export default class UserBoard extends Vue {
  private content = "";

  mounted() {
    UserService.getUserBoard().then(
      (response) => {
        this.content = response.data;
      },
      (error) => {
        this.content =
          (error.response && error.response.data && error.response.data.message) ||
          error.message ||
          error.toString();
      }
    );
  }
}
</script>